
* {
    box-sizing: border-box;
    font-family: "Raleway";
}
.container{
    max-width: 1400px;
    margin:auto;
}

a{
    color: black;
    text-decoration: none;
}

nav{
   
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
   
}

    nav img{
        width: auto;
        height: 19px;
    
        }
            .logo{
                padding: 0 2rem;
                display:block;
                margin-right: auto;
                flex-wrap: wrap;
    
            } 

    

        .lien{
            
            display: flex;
            flex-direction: row;
            gap: 2px;
            display: block;
            flex-wrap: wrap;
    
            }
             .lien a {
                
                padding: 2rem;
                display: flex;
                display: inline-block;
                
               
             }
           
                .lien :hover{
                    color: #0065fc;
                    border-top:2px solid #0065fc;
                }



@media(max-width:768px){
       .logo{
        margin-right: 42%;
       }
    
    
    .lien{
        width: 100%;
        
        
        }
            .lien a{
               width: 49%;
              text-align: center;
            }
       .lien :hover{
        border-top: 2px solid transparent;
        border-bottom:2px solid  #0065fc;
       }
}