/* Base */

html {
    --color-grey: #F2F2F2;
}

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: "Raleway";
}

a {
    color: black;
    text-decoration: none;
}

/* nav */
.container {
    max-width: 1400px;
    margin: auto;
}

nav {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav img {
    width: auto;
    height: 19px;

}

.logo {
    padding: 0 32px;
    display: block;
    margin-right: auto;
    flex-wrap: wrap;
}

.lien {
    display: flex;
    flex-direction: row;
    gap: 2px;
    flex-wrap: wrap;
    border: solid 2px transparent;
}

.lien a {
    padding: 16px;
    display: flex;
    display: inline-block;
    border: solid 2px transparent;
}

.lien :hover {
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

@media(max-width:768px) {
    .logo {
        margin-right: 42%;
    }

    .lien {
        width: 100%;
    }

    .lien a {
        width: 49%;
        text-align: center;
        border-bottom: 1px solid var(--color-grey);
    }

    .lien :hover {
        border-top: 2px solid transparent;
        border-bottom: 2px solid #0065fc;
    }
}

/* header */


/* search */
.wrapper {
    max-width: 1400px;
    margin: auto;
    padding: 0 32px;
    flex-wrap: wrap;
}

.search {
    display: flex;

}

.search a i {
    padding: 12.8px;
    background-color: var(--color-grey);
    border-radius: 20px 0 0 20px;
}

.search input {
    padding-right: 6rem;
    border: 4px var(--color-grey)
}

.search button {
    background-color: #0065fc;
    border-radius: 0 20px 20px 0;
    border: 1px #0065fc;
    color: aliceblue;
}

button i {
    color: transparent;
    font-size: 17px;
}

button span {
    font-weight: bold;
}

@media (max-width:768px) {
    .search {
        display: flex;
        justify-content: center;

    }

    .search input {
        display: flex;
    }

    .search button {
        width: 48px;
    }

    button i {
        color: aliceblue;
    }

    button span {
        display: none;
    }
}





/* filtre */

.filter_box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter_box h2 {
    font-size: 18px;
}

.filter_box i {
    color: #0065fc;
    padding: 0 8px;

}

.filter {
    display: flex;
    display: inline-block;
    justify-content: center;
    padding: 0 16px;
}

.filter a {
    display: inline-block;
    border: var(--color-grey) 2px solid;
    height: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.filter_1 {
    display: flex;
    flex-wrap: nowrap;
}

.filter_2 {
    display: flex;
    flex-wrap: nowrap;
}

.ul_filter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul_filter span {
    font-weight: bold;
    font-size: 17px;
    padding: 0 16px 0 0;
}

.filter_box ul li :hover {
    background-color: #deebff;
    border-radius: 25px;
}

@media (max-width:768px) {
    .filter_box {
        display: flex;
        flex-wrap: wrap;
    }

    .filter_box ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0%;
    }


    h2 {
        width: 100%;
    }

    .filter {
        width: 49.5%;

    }

    .filter_1 {
        display: flex;
        display: inline;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 16px;
        margin-left: 0;
    }

    .filter_2 {
        display: flex;
        display: inline;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .ul_filter {
        padding-left: 0;
        margin-top: 0%;
    }
}


/*info*/
.info {
    display: flex;
    justify-content: left;
    align-items: center;
}


.info i {
    width: 24px;
    height: 24px;
    color: #0065fc;
    border: solid 1px var(--color-grey);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}



/*Main*/

/*section_1*/
.list {
    max-width: 1400px;
    margin: auto;
    display: flex;
    gap: 20px;
    margin-top: 24px;

}

.city {
    background-color: var(--color-grey);
    flex-basis: 66%;
    border-radius: 20px;
}

.city h2 {
    margin-left: 32px;
}

.popular {
    background-color: var(--color-grey);
    flex-basis: 33%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;

}

@media(max-width:992px) {
    .list {
        flex-direction: column;
    }
}



/*city*/
.cards article {
    box-sizing: border-box;
}

.cards_h {
    width: 84%;
    height: 90%;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 32px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.img_h img {
    width: 100%;
    height: 123px;
    border-top: solid 5px white;
    border-left: solid 5px white;
    border-right: solid 5px white;
    border-radius: 20px 20px 0 0;
}

.description_h {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    display: block;
    padding-right: 16px;
}

.stars {
    color: #0065fc;
    padding: 0%;
    margin: 0%;
    padding-left: 16px;
}

.star_grey {
    color: #d9d9d9;
}

.stars li {
    display: inline;
}

.description_h h3 {
    margin: 0%;
    padding-left: 16px;
}

.description_h p {
    margin: 0%;
    padding-left: 16px;
}

.cards_h_box {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-left: 32px;
}

.afficher_plus {
    padding-left: 32px;
}

@media (max-width: 768px) {
    .city {
        background-color: white;
    }

    .cards_h_box {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0%;
    }

    .cards_h {
        width: 60%;
    }

    .img_h img {
        width: 100%;
        height: 124px;
    }
}

/*popular*/
.cards_p article {
    display: flex;
}

.title_p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.graph {
    color: #0065fc;
}

.cards_p {
    width: 100%;
    height: 144px;
    background-color: white;
    border-radius: 20px;
    margin: 16px;
    box-sizing: border-box;
    width: 90%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}


.img_p {
    width: 137px;
    height: 144px;
}

.img_p img {
    width: 137px;
    height: 144px;
    border-top: solid 5px white;
    border-left: solid 5px white;
    border-bottom: solid 5px white;
    border-radius: 20px 0 0 20px;
}

.description_p {
    padding-left: 16px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    box-sizing: border-box;
}

.description_p .stars {
    padding-left: 0%;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 16px;
}

.description_p p {
    margin-top: -16px;
    margin-right: auto;
}


@media (max-width: 992px) {
    .cards_p_box {
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }

    .description_p h3 {
        font-size: 16px;
    }

    .description_p p {
        font-size: 12.8px;
    }
}

@media (max-width: 768px) {
    .cards_p_box {
        display: block;
    }

    .popular {
        order: -1;
    }

    .description_p h3 {
        font-size: 19px;
    }

    .description_p p {
        font-size: 16px;
    }

}

/*activity*/
.activity h2 {
    margin-left: 16px;
}

.a_list {
    max-width: 1400px;
    margin: auto;
}

.img_a {
    margin: 0%;
}

.description_a {
    box-sizing: border-box;
}

.img_a img {
    Width: 302px;
    Height: 445px;
    border-top: solid 5px white;
    border-left: solid 5px white;
    border-right: solid 5px white;
    border-radius: 20px 20px 0 0;
}

.cards_a {
    box-sizing: border-box;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cards_a_box {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.description_a {
    padding-left: 5px;
    border-radius: 0 0 20px 20px;
}

@media (max-width: 992px) {


    .img_a img {
        width: 182px;
        height: 267px;
    }

    .description_a {
        font-size: 10px
    }
}

@media (max-width: 768px) {

    .img_a img {
        width: 90%;
        height: 190px;
    }

    .cards_a_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards_a {
        width: 70%;
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
        padding-left: 20px;

    }

    .description_a {
        font-size: 16px;
        width: 90%;
    }
} 

/*footer*/
.container_f{
    max-width: 1400px;
    margin: auto;
    margin-top: 61px;
    background-color: var(--color-grey) ;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.propos li{
    list-style-type: none;
    padding-bottom: 10px;
    margin-top: 0;
}
.nos_h li{
    list-style-type: none;
    padding-bottom: 10px;
    margin-top: 0;
}
.assistance li{
    list-style-type: none;
    padding-bottom: 10px;
    margin-top: 0;
}
.propos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.nos_h{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.assistance{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.propos h2{
    padding-left:40px ;
}
.nos_h h2{
    padding-left: 40px;
}
.assistance h2{
    padding-left: 40px;
}

@media (max-width: 768px){
    .container_f{
       grid-template-columns: 1fr;
    }
}